
{{#each errors}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{text}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/each}}
<form action="/historias/eventualidad" method="POST">

  <div class="form-row mt-5 mb-4">
    <div class="col-4">
      <input type="text" class="form-control" placeholder="Nombres">
    </div>
    <div class="col-4">
      <input type="text" class="form-control" placeholder="Apellidos">
    </div>
  </div>
 
  <div class="form-group form-row mt-5 mb-4">
    <label for="exampleFormControlTextarea1" placeholder="Eventualidad"></label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>

  <button class=" mt-5 btn btn-lg btn-primary btn-lg" type="submit">Guardar</button>


</form>